.home-menu-button {
  margin: 0px 10px;
  padding: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  font-weight: 700;
}

.home-menu-button.current-tab {
  background-color: white;
  color: #000;
  top: 1.2px;
}

.home-menu {
  display: flex;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.home-section {
  padding: 40px;
}
